*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.left-side {
  position: absolute;
  width: 60%;
  height: 100%;
  background: radial-gradient(
    99.87% 413.14% at 0% 4.98%,
    #443453 0%,
    #232323 28.23%,
    #252425 100%
  );
}

.right-side {
  position: absolute;
  left: 50%;
}

.bg-img {
  padding: 20em 0;
  margin-top: 2em;
  background-image: url('../../resource/Group\ 312.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.login-box {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 650px;
  outline: 1px solid green;
  padding: 0 2em;
}

.inner-box {
  margin-top: 30px;
}

.custom-width {
  width: 70%;
  margin: 2em auto;
}

.cst-border {
  border: 2px solid #666666 !important;
}

.logo {
  height: 80px;
}

.forget-pass {
  text-decoration: none;
  color: #ff0000;
  float: right;
}

.login-btn {
  width: 100%;
  background: #3e489a !important;
  border-radius: 10px;
}

.txt-or {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #666666;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.alternate {
  background: #fff;
  padding: 0 30px;
}

.icon {
  text-align: center;
}

.fb-icon {
  color: #4267b2;
  margin-right: 2em;
}

.google-icon {
  color: #4285f4;
}

.sign-up {
  text-decoration: none;
}
